/*Each Section is seperated and contains it's own styling */

html {
    background-color: black;
        box-sizing: border-box;
}

*, *:before, *:after {
box-sizing: inherit;
}

body, html {
    width: 360px;
    margin: auto;
    /* This is important and is critical */


}
div {}
header {}
section {
    background-color: #f7f7f7;

    /* If a sction is not #f7f7f7, it will be defined in a specfic class */
}

/* Style all default h1, h2, h3 in document  */
h1,
h2,
h3 {
    text-align: center;
    margin-top: 0px;
}
h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #f7f7f7;
    text-transform: uppercase;
}
h2 {
    font-family: 'Source Sans Pro', sans-serif;
    padding-top: 40px;
    /*Helps align to top of previous section */
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 0px;
}
h3 {
    font-family: Droid Serif;
    font-size: 12px;
    Color: #454545;
}

/*  Individual Styles for h2, h3, seperatebar tags */

#h2_ver_1 {
    margin-top: -40px;
    font-family: Droid Serif;
    font-style: italic;
    font-size: 13px;
    color: #f7f7f7;
    text-transform: none;
}
#h2_ver_2 {
    color: : #454545;
}
#h2_ver_3 {
    color: #f7f7f7;
    margin-top: 0px;
}
#h3_ver_1 {
    color: #f7f7f7;
}
#green_text {
    color: #acd373;
}
.stupid_bars {
    display: block;
    margin: auto;
}

/* remove of bullet and left margin from ul */

ul, li{

    padding: 0px;
}

/* Header Section */

header {
    background-color: #acd373;
    height: 40px;
    width: 100%;
    position: relative;
}
#sixteen {
    left: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
nav {
    background-color: #89a85c;
    height: 40px;
    width: 40px;
    float: right;
}
#ham-btn {
    position: relative;
    left: 40%;
    transform: translateY(-50%);
    top: 40%;
    transform: translateY(-50%);
}

/* First Section */

.first_section {
    background: url(images/sil.png) #9abd67 no-repeat bottom;
    height: 350px;
}
.first_section_content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.first_section_content img {
    display: block;
    margin: auto;
}

/* Second Section */

.second_section {
    height: 500px;
    width: 100%;
}
.img_phone img {
    position: relative;
    display: block;
    margin: auto;
    transform: translateY(20px);
}
.who_we_are {
    margin-top: 36px;
    margin-left: 30px;
    position: relative;
    font-family: 'Source Sans Pro', sans-serif;
    color: #454545;
}
.who_we_are p {
    font-size: 13px;
}
#side_text {
    font-size: 18px;
    position: absolute;
}
.button {
    background-color: #f7f7f7;
    color: #acd373;
    border: solid 1.5px;
    font-family: Droid Serif;
    font-style: italic;
    width: 90px;
    height: 30px;
    font-size: 11px;
    margin-top: 30px;
}
input:hover {
    background-color: black;
}

/*Video Section*/

.Video {
    position: relative;
    height: 262px;

/*   s*/

}
#playbutton {
    display: block;
    position: absolute;
    top: 96px;
 margin: auto;
}

/*  Services Section */

.Services_Section {
    height: 500px;
    position: relative;
}
.Head_combo1 {
    margin-top: 0px;
    position: relative;
    height: 129px;
}

/* Three Blocks of Services */

.Service_Block {
    margin-left: -20px;
    padding-right: 12px;
}
.service_icons_holder {
    display: block;
    float: left;
    border: 1px solid red;
}
.service_icons_holder img {
    margin-top: -5px;
    margin-bottom: 15px;
    margin-left: -10px;
    border: 1px solid red;
}
.service_text_holder {
    float: left;
    border: 1px solid red;
    width: 285px;
}

}
.Service_Block p {
    font-family: Droid Serif;
    font-size: 12px;
    margin-top: 0;
}
.service_head {
    text-transform: uppercase;
    color: #acd373;
    font-size: 14px;
}
.service_sub {
    font-size: 13px;
}
#service_button {
    position: absolute;
    left: 123px;
    bottom: 48px;
}

/* Meet Team Section */
.Meet_Team {
    height: 484px;
    position: relative;
    background-color: #acd373;
    color: #f7f7f7;
}
#white_box {
    height: 186px;
    width: 200px;
    border-radius: 3%;
    background-color: #f7f7f7;
    position: absolute;
    left: 80px;
    top: 177px;
}
.circle_face {
    /* There has to be a better way that guessing*/

    border: 5px #acd373 solid;
    border-radius: 100%;
    left: 55px;
    top: -30px;
    position: absolute;
}
.arrows {
    position: absolute;
    top: 233px;
}
#left_arrow {
    left: 30px;
}
#right_arrow {
    right: 30px;
}

/*
.stupid_text {
	margin-top: 80px;
}
*/
#ceo_name {
    color: #acd373;
    text-transform: uppercase;
    margin-top: 80px;
}
#ceo_title {
    color: black;
    margin-top: 15px;
}
.ceo_social_buttons {
    display: inline;
    position: absolute;
    bottom: 14px;
    left: 63px;
}
.Hiring_section {
    display: block;
    height: 66px;
    width: 360px;
    position: absolute;
    bottom: 0;
    background-color: #9abd67;
}
.Hiring_section p {
    position: absolute;
    left: 30px;
    bottom: 14px;
    padding-left: 0px;
    color: #f7f7f7;
}
#hiring_button {
    border: 1px solid #f7f7f7;
    position: absolute;
    bottom: 13px;
    right: 31px;
    color: #f7f7f7;
    background-color: #9abd67;
    height: 30px;
    width: 100px;
}

/*   Recent Work Section */
.Recent_Work_section {
    position: relative;
    height: 600px;
}
#main_image {
    display: block;
    margin-right: auto;
    margin-left: auto;
}
#leroy_themes {
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    color: #454545;
}

#sub_combo1{
    font: italic 14.81px DroidSerif;
    color: #787878;
    text-align: center;
}

#works_button {
    display: block;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
}
.Works_logos {
    display: inline;
    position: absolute;
    bottom: 40px;
    left: 50px;
}

/*Testimonial Section */
.testimonial_section {
    position: relative;
    height: 560px;
    background-image: url(images/bg-test.jpg.jpg);
}
.testimonial_quote {
    position: absolute;
    width: 300px;
    height: 85px;
    border: 2px solid #e1e2e3;
    left: 30px;
    top: 60px;
}
.testimonial_quote p {
    font-family: Droid Serif;
    font-size: 12px;
    color: #d9d5d3;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 10px;
}
#qoutes {
    font-family: Droid Serif;
    position: absolute;
    left: 270px;
    top: 60px;
    font-size: 48.64px;
    color: #d9d5d3;
}

.triangle {
    background:url(images/ribbon.png)
}

.pic_name_block {

    display: block;
    width: 300px;
    position: absolute;
    top: 200px;
    left: 50px;
}
.pic_name_block img {
    border-radius: 100%;
    float: left;
    margin-right: 20px;
    /*
    position: absolute;
    top: 180px;
    left: 30px;
}
*/
}
#John_Doe_Name {
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    color: #acd373;
    font-size: 14px;
    font-weight: bold;
}
#smash_mag {
    font-style: italic;
    font-size: 12px;
    font-family: Droid Serif;
    color: #babcbf;
}
.circle_holder {
    display: inline;
    position: absolute;
    left: 160px;
    top: 300px;
}
.filled_circle {
    width: 10px;
    height: 10px;
    background-color: #f7f7f7;
    border-radius: 100%;
    border: 2px solid #f7f7f7;
    float: left;
    margin: 3px;
}
.empty_cicle {
    float: left;
    width: 10px;
    height: 10px;
    margin: 3px;
    border-radius: 100%;
    border: 2px solid #f7f7f7;
}
.Test_text_block {
    margin-left: 20px;
    margin-right: 20px;
    display: block;
    position: absolute;
    top: 330px
}
#Testimonial_Head {
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    color: #e3e3e4;
    font-size: 18px;
}
#Testimonial_Body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #e3e3e4;
    font-size: 13px;
}
#test_button {
    position: absolute;
    width: 130px;
    height: 30px;
    bottom: 50px;
    left: 30px;
    background: none;
}

/* Blog Section */
.blog_section {
    position: relative;
    height: 615px;
}
.title_sub_line {
    height: 139px;
}
.blog_entry {
    display: block;
    float: left;
    height: 204px;
    Width: 160px;
    margin-left: 15px;
    margin-top: 15px;
    position: relative;
}
.blog_entry p {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 500;
    font-size: 10.3px;
    padding-top: 14px;
}
.green_circle {
    width: 30px;
    height: 30px;
    background-color: #acd373;
    border: 5px solid #ebebeb;
    border-radius: 100%;
    position: absolute;
    top: 76px;
    left: 62px;
    display: inline-block;
}
.image_box {
    /* Can't figure out how to get all the images in the box correctly */
    width: 35px;
    height: 35px;
/*
    position: absolute;
    bottom: -8px;
    left: 7px;
*/
    text-align: center;
    margin-top: 4px;
    border: 1px solid red;
}
.blog_entry img {
/*
	height: 204px;
    width: 160px;
*/
}


.image_box img {


}


#blog_button {
    position: absolute;
    height: 30px;
    width: 160px;
    background-color: #acd373;
    text-align: center;
    color: #f2f5f0;
    font-family: Droid Serif;
    font-style: italic;
    font-size: 8.33px;
    bottom: 0px;
    border: 1px solid #acd373;
}


/* New Letter Section */
.Newsletter {
	height: 62px;
    background-color: #acd373;
    position: relative;

}

.Newsletter ul {
    position: absolute;
    left: 9px;
    top: 20px;
    padding: 0px;
    margin: 0px;

/*
    top: 50%;
    transform: translateY(-100%);
    padding: 0px;
*/
}

.Newsletter ul li {
	display: inline;
    display: table;
    margin: 0px;
    padding: 0px;
    float: left;
}

.Newsletter li:first-child {
    font: 400 12px 'Source Sans Pro';
    color: #f7f7f7;
    margin: 0px;
    padding-left: 9px;
}

.Newsletter li:nth-child(2){
    display: table-cell;
    vertical-align: middle;
    color: #f7f7f7;
    font: italic 10px DroidSerif;
    padding-left: 5px;
}

.example_email_holder {
    width: 111px;
    height: 24px;
    border: 1px solid #f7f7f7;
}

.image_holder{
    float: left;
    width: 30px;
    height: 25px;
    background-color: #f7f7f7;
}


/* Map Section */
.map_container {
    background-image: url(images/map-bkg_130.jpg);
}

.map_container img {
	margin: auto;
}

.map_container p {
    color: #f7f7f7;
    font: 400 13px 'Source Sans Pro';
	margin-bottom: 0px;
    text-align: center;
}

/* Contact Section */
.Contact_section {
    position: relative;
    height:450px;
    background-color: #acd373;
}

textarea:hover {
background: black;
}


form{
    margin-left: 30px;
    margin-right: 30px;
}

form input {
    width: 301px;
    height: 28px;
    background-color: #9abd67;
}

form textarea{
    background: #9abd67;
    height: 84px;
    width: 302px;
}

input [placeholder]{
    color: #f7f7f7;
    font-family: DroidSerif;
}


form p {
    color: #f7f7f7;
    font-family: 'Source Sans Pro';
    font-size: 12px;
}

input, select, textarea{
    color: #f7f7f7;
}

#Contact_Send_Button{
    padding: 0;
     margin: 0 auto;
    width: 220px;
    height: 32px;
    background-color: #9abd67;
    color:#f7f7f7;
    border: none;
    display:flex;
    justify-content:center;
    align-items:center;
}



/* Footer Section */
footer {
    height: 100px;
    background-color: #9abd67;
    position: relative;
}
.footer_social_buttons {
    position: absolute;
   left: 55px;
    top: 32px;
    display: inline;
}

footer p {
    position: absolute;
    left: 80px;
    bottom: 6px;
    color: #f7f7f7;
    bottom: 5px;
    font: 400 13px 'Source Sans Pro';
}




/*  This is to change the color of the placeholder on different broswers */
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
     color: #f7f7f7;
    font-family: DroidSerif;
   opacity: 1;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #f7f7f7;
    font-family: DroidSerif;
    opacity: 1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #f7f7f7;
    font-family: DroidSerif;
    opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #f7f7f7;
    font-family: DroidSerif;
}
